body {
    color: black;
    background:rgba(242, 242, 227, 0.907);
    margin: 0px;

   
}


header {
    border-bottom: solid 2px rgb(02, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0);
    font-family: "Alfa Slab One", serif;
} 

img{
height:150px

}
.mais-videos{
    display: flex;
overflow-x: auto;
}

.mais-videos {
    background: rgb(178, 170, 170);
    padding-bottom: 40px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    
}
    .mais-video{
    display: flex;
    overflow-x: auto;
    gap: 10px;


}

.mais-videos {
    padding-left: 20px;
    padding-right: 20px;
}

.mais-videos img {
opacity: 0.7;

}
.img{
    height: 110px ;
}